<AnalysisGrid
  [readOnly]="readOnly"
  [analysisData]="analysisData"
  (onDataUpdate)="onDataUpdate($event)"
></AnalysisGrid>

<hr />
<button (click)="toggle()">Toggle readOnly</button>

<hr />
Event from Analysis Grid: {{ changedData | json }}

<h2>Note:</h2>
<ul>
  <li>Table accepts Range of Values is between 0 and 1</li>
  <li>Pipe format is independent of "X"</li>
  <li>
    The Analysis Grid expects the elements to be in same order for both "Min"
    and "Max". It can be improved or we can add a default sorting to maintain
    order
  </li>
</ul>
