<div class="outer">
  <div class="inner">
    <!-- <form #dataForm="ngForm"> -->
    <table>
      <tr>
        <th class="fix"></th>
        <th *ngFor="let header of tableData[0].element_values">
          {{ header.key }}
        </th>
      </tr>
      <tr *ngFor="let rows of tableData; let j = index">
        <th class="fix">{{ rows.key | uppercase }}</th>
        <td *ngFor="let data of rows.element_values; let i = index">
          <ng-container *ngIf="!readOnly; else noEdit">
            <input
              matInput
              class="col form-control"
              type="number"
              step="any"
              [attr.required]="true"
              #ngModel="ngModel"
              required
              (ngModelChange)="changedInput($event, rows.key, data)"
              [(ngModel)]="data.value"
            />
          </ng-container>
          <ng-template #noEdit>
            {{ data.value | number: data.pipeFormat }}
          </ng-template>
        </td>
      </tr>
    </table>
    <!-- </form> -->
  </div>
</div>
